<container>
<h2>Don't Miss This Posts</h2>
<spacer size="20"></spacer>
<row>
  <columns large="6" small="12">
      <img src="https://dl.dropboxusercontent.com/u/67283941/thetravelblog/assets/img/post_1.png" class="thumbnail">
  </columns>
  <columns large="6" small="12">
    <h3>Lago Maggiorea, italy</h3>
    <p>Proin convallis, leo ut congue tristique, enim turpis fringilla tellus, non condimentum mauris nulla eu ante. Quisque tellus tortor, pellentesque ac. </p>
    <button href="#">Read More</button>
  </columns>
</row>

<row>
  <columns large="6" small="12">
      <img src="https://dl.dropboxusercontent.com/u/67283941/thetravelblog/assets/img/post_2.png" class="thumbnail">
  </columns>
  <columns large="6" small="12">
    <h3>things to do in toronto</h3>
    <p>Proin convallis, leo ut congue tristique, enim turpis fringilla tellus, non condimentum mauris nulla eu ante. Quisque tellus tortor, pellentesque ac. </p>
    <button href="#">Read More</button>
  </columns>
</row>

</container>
