<container>
<h2>Featured Post of the Week</h2>
<spacer size="20"></spacer>
  <row>
    <columns>
        <center>
            <img src="https://dl.dropboxusercontent.com/u/67283941/thetravelblog/assets/img/featured_post.png" class="thumbnail">
        </center>
    </columns>
  </row>
  <row>
      <columns></columns>
      <columns small="12" large="10">
        <h3 class="text-center">Visit Madrid, Spain this Summer</h3>
        <p class="text-center">Fusce lacinia turpis erat, sit amet fermentum justo volutpat in. Mauris sit amet elit vel sem rutrum dignissim ac id ex. Vestibulum posuere sagittis enim, et sollicitudin libero dignissim sed. Ut quis luctus sapien, non congue urna. </p>
      </columns>
      <columns></columns>
  </row>
  <spacer size="10"></spacer>
  <row>
    <columns>
        <center>
            <button href="#">Read More</button>
        </center>
    </columns>
  </row>
</container>
